@model StudentEditVM

@{
	ViewBag.Title = Model.student.FirstName ?? "New Student";
	Layout = "_Layout";
}

<div class="card">
	<div class="card-body">
		<div id="ProfileIcon" class="col-md-auto" style="margin: auto;width: 100px">
			<img src="~/img/@(Model.student.ProfilePicture ?? "DefaultProfile.png")" style="height: 10rem; width: 10rem;" alt="Student profile picture"/>
		</div>

		<form asp-controller="Student" method="post" asp-action="Edit">
			<input asp-for="student.Id" style="display: none">

			<div class="mb-3 row">
				<div class="col-6">
					<label asp-for="student.FirstName" class="form-label">Name</label>
					<input asp-for="student.FirstName" class="form-control" placeholder="Name">
					<span asp-validation-for="student.FirstName" class="invalid-feedback"></span>
				</div>
				<div class="col-6">
					<label asp-for="student.LastName" class="form-label">Name</label>
					<input asp-for="student.LastName" class="form-control" placeholder="Name">
					<span asp-validation-for="student.LastName" class="invalid-feedback"></span>
				</div>
			</div>

			<div class="mb-3">
				<label asp-for="student.Email" class="form-label">Email</label>
				<input asp-for="student.Email" class="form-control" placeholder="Email">
				<span asp-validation-for="student.Email" class="invalid-feedback"></span>
			</div>

			<div class="mb-3 row">
				<div class="col-6">
					<label asp-for="student.Class" class="form-label">Education</label>
					<select asp-for="student.Class">
						<option value="@null" disabled>No education</option>
						@{
							foreach (var edu in Model.possibleEducations)
							{
								if (Equals(edu.Id, Model.student.Class.Id))
								{
									<option value="@edu" selected> @edu.Name</option>
								}
								else
								{
									<option value="@edu"> @edu.Name</option>
								}
							}
						}
					</select>
				</div>
				<div class="col-6">
					<label asp-for="student.Class.Education.Courses" class="form-label">Education</label>
					<select asp-for="student.Class.Education.Courses">
						<option value="@null" disabled>No Class</option>
						@{
							var classes = Model.possibleEducations
								.SingleOrDefault(education => education.Id == Model.student.Class.Education.Id)?.Courses;
							
							if (classes == null) return;
							
							foreach (var edu in classes)
							{
								if (Equals(edu.Id, Model.student.Class.Id))
								{
									<option value="@edu" selected> @edu.Name</option>
								}
								else
								{
									<option value="@edu"> @edu.Name</option>
								}
							}
						}
					</select>
				</div>

			</div>

			<div class="mb-3">
				<label asp-for="student.Class.Semester" class="form-label">Semester</label>
				<input asp-for="student.Class.Semester" class="form-control">
			</div>
			@{
				if (Model.student.Id == 0)
				{
					@Html.ActionLink("Cancel", "List", "Student", null, new { @class = "btn btn-danger" })
					<button type="submit" class="btn btn-success">Save</button>
				}
				else
				{
					@Html.ActionLink("Delete", "Delete", "Student", new { id = Model.student.Id }, new { @class = "btn btn-danger" })
					<button type="submit" class="btn btn-success">Update</button>
				}
			}
		</form>
	</div>
</div>

@section Scripts {
	@{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
	<script type="text/javascript">
    document.getElementById("inputForm").addEventListener("change", (event) => {console.log("hello")}); 
    </script>
}