@model StudentEditVM

@{
	ViewBag.Title = Model.student.FirstName ?? "New Student";
	Layout = "_Layout";
}

<div class="card">
	<div class="card-body">
		<div id="ProfileIcon" class="col-md-auto position-relative" style="height: calc(10rem + 2rem)">
			<img src="~/img/@(Model.student.ProfilePicture ?? "DefaultProfile.png")" class="position-absolute top-50 start-50 translate-middle" style="height: 10rem; width: 10rem;" alt="Student profile picture"/>
		</div>

		<form asp-controller="Student" method="post" asp-action="Edit">
			<input asp-for="student.Id" style="display: none">

			<div class="mb-3 row">
				<div class="col-6">
					<label asp-for="student.FirstName" class="form-label">First Name</label>
					<input asp-for="student.FirstName" class="form-control" placeholder="Name">
					<span asp-validation-for="student.FirstName" class="invalid-feedback"></span>
				</div>
				<div class="col-6">
					<label asp-for="student.LastName" class="form-label">Last Name</label>
					<input asp-for="student.LastName" class="form-control" placeholder="Name">
					<span asp-validation-for="student.LastName" class="invalid-feedback"></span>
				</div>
			</div>

			<div class="mb-3">
				<label asp-for="student.Email" class="form-label">Email</label>
				<input asp-for="student.Email" class="form-control" placeholder="Email">
				<span asp-validation-for="student.Email" class="invalid-feedback"></span>
			</div>

			<div class="mb-3 row">
				<div class="col-6">
					<label for="Education"  class="form-label">Education</label>
					<select id="Education"  class="form-select">
						<option value="@null" disabled>No education</option>
						@{
							foreach (var edu in Model.possibleEducations)
							{
								if ( Model.student.Class.Id != 0 && Equals(edu.Id, Model.student.Class.Education.Id))
								{
									<option value="@edu.Id" selected> @edu.Name</option>
								}
								else
								{
									<option value="@edu.Id"> @edu.Name</option>
								}
							}
						}
					</select>
				</div>
				<div class="col-6">
					<label asp-for="student.ClassId" class="form-label">Class</label>
					<select asp-for="student.ClassId" class="form-select">
						<option value="@null" disabled>No Class</option>
						@{
							var classes = Model.possibleEducations.SingleOrDefault((v)=>Equals(v.Id, Model.student.Class.Education.Id))?.Classes;

							if (classes == null) return;

							foreach (var edu in classes)
							{
								if (Equals(edu.Id, Model.student.Class.Id))
								{
									<option value="@edu.Id" selected> @edu.Name</option>
								}
								else
								{
									<option value="@edu.Id"> @edu.Name</option>
								}
							}
						}
					</select>
				</div>

			</div>

			<div class="mb-3">
				<label for="Semester" class="form-label">Semester</label>
				<input id="Semester" class="form-control" value="@Model.student.Class.Semester">
			</div>
			@{
				if (Model.student.Id == 0)
				{
					@Html.ActionLink("Cancel", "List", "Student", null, new { @class = "btn btn-danger" })
					<button type="submit" class="btn btn-success">Save</button>
				}
				else
				{
					@Html.ActionLink("Delete", "Delete", "Student", new { id = Model.student.Id }, new { @class = "btn btn-danger" })
					<button type="submit" class="btn btn-success">Update</button>
				}
			}
		</form>
	</div>
</div>

@section Scripts {
	@{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}