@model StudentVM

@if (@Model.Students.Any())
{
  <div id="StudentList" class="row g-4 row-cols-1 row-cols-xl-4 row-cols-lg-3 row-cols-md-2">
    @foreach (var student in Model.Students)
    {
      <div class="col">
        <partial name="studentComponent.cshtml" model="student"/>
      </div>
    }
  </div>
}
else
{
  <h1 style="text-align: center">@(!Equals(Model.SearchString,"") ? "No students Match search" : "There are no registered students")</h1>
}
  
<div page-model="@Model.PagingInfo" page-action="List"
     page-classes-enabled="true"
     page-class="btn" page-class-normal="btn-outline-secondary"
     page-class-selected="btn-primary" class="btn-group pull-right m-1"
     page-url-searchString="@Model.SearchString"
     page-url-classID="@Model.ClassID"
     page-url-EducationID="@Model.EducationID">
</div>