@model StudentManager.Models.Student

<div class="student-container card">
    <div class="card-body">
        <a href="@Url.Action("Edit", "Student", new {id=Model.Id})">
            <i class="fa-solid fa-pen Student-Edit"></i>
        </a>

        <div id="Student-Header" class="row">
            <div class="col-auto">
                <div id="ProfileIcon" class="col-md-auto">
                    <img src="~/img/@(Model.ProfilePicture ?? "DefaultProfile.png")" alt="Student profile picture"/>
                </div>
            </div>
            <div class="col overflow-hidden">
                <h5 class="card-title">@Model.FirstName @Model.LastName</h5>
                <div class="overflow-hidden" style="text-overflow: ellipsis;overflow-wrap: normal;" title="@Model.Email">@Model.Email</div>
            </div>
        </div>
        <div>
            <label asp-for="Class.Education.Name" class="field-label-style">Education:</label> <span class="field-style">@Model.Class.Education.Name</span> <br/>
            <label asp-for="Class.Semester" class="field-label-style">Semester:</label> <span>@Model.Class.Semester</span>
        </div>
    </div>
</div>